%flex-row {
  display: flex;
  flex-flow: wrap row;
}

%flex-col {
  display: flex;
  flex-flow: wrap column;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%linear-bg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(19, 51, 87, 1) 100%
  );
}
